<doctype html>
    <html>
<head>
      <title>Commands - FallenTheTaco</title>
      <link rel="stylesheet" type="text/css" href="/style2.css" />
      </head>
    <body>
      <div class="dropdown">
        <div class="container" onclick="myFunctions(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div id="myDropdown" class="dropdown-content">
      <a href='/'>Home</a>
      <a href='commands'>Commands</a>
      <a href='donate'>Donate</a>
      <a href='addme'>Addme</a>
      <a href='upvote'>Upvote</a>
      <a href='support'>Support</a>
      </div>
      <script src="/myscripts.js"></script>
  </div>
        <br>
        <p>Command List</p>
        <br>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Alias</th>
                <th>Usage</th>
            </tr>
<h2>I have setup a economy system about tacos. You first do <i>!start</i>, then <i>!daily</i>, then <i>!balance</i>, etc, etc, etc. (Whichever comes first it doesn't really matter)</h2>

            <% const help1 = [];
let commandList = client.comman.get('command').map(c => {
  help1.push({name: c.name, description: c.description, usage: c.usage, alias: `!${c.alias[0]}`, category: c.category});
}).sort();
help1.forEach(function(command) { %>

            <tr class="w3-hover-gray w3-border">
                <td><%= command.name%>
                </td>
                 <td><%= command.description%>
                </td>
                 <td><%= command.alias%>
                </td>
                <td><%= command.usage%>
                </td>
            </tr>
            <% }) %>
        </table>
    </body>
<div class="footer">
  <h2>©Created by FallenTaco 2018-2019</h2>
      </div>

    </html>
</doctype>
